<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Aventyr</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="./scripts/fontawesome-all.js"></script>
  <script src="./scripts/app.js"></script>

</head>
<body>
  <header class="center-align">
    <h1 class="center-align white-text">AveNtyr</h1>
    <img src="/images/aventyr.png" id = "main-page">
  </header>
  <nav class= "valign-wrapper grey lighten-2 sticky-nav-wrapper">
    <a href="/"><img src="/images/aventyr.png" id="logo"></a>
    <div>
      <a href="/api/cards">Gallery</a>
      <% if(!user) { %>
        <a href="/signup">Sign up</a>
        <a href="/login" class="btn teal lighten-3">Log In</a>
        <% } else { %>
          <a href=""><%= user.username %></a>
          <a href="/logout" class="btn teal lighten-3">Log Out</a>
          <% } %>
        </div>
      </nav>
    </body>
    </html>
