<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Aventyr</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="./scripts/fontawesome-all.js"></script>
  <script src="./scripts/app.js"></script>

</head>
<body>
  <nav class= "valign-wrapper grey sticky-nav-wrapper">
    <a href="/"><img src="/images/aventyr.png" id="logo"></a>
    <div>
      <a href="/api/cards">Gallery</a>
      <% if(!user) { %>
        <a href="" class="signup-btn">Sign up</a>
        <a href="/login" class="btn teal lighten-3">Log In</a>
        <a href="/api/destinations">Destinations</a>

      <% } else { %>
        <a href="/api/users/<%=user.id%>"><%= user.username %></a>
        <a href="/logout" class="btn teal lighten-3">Log Out</a>
      <% } %>
    </div>
  </nav>

  <header class="center-align">
    <h1 class="center-align white-text">AveNtyr</h1>
    <img src="/images/aventyr.png" id = "main-page">
  </header>

      <main>
        <div class="row" id="sign-up">
        <form method="POST" action="/signup" class="col s4 offset-s4">
          <h3 class="center-align">Sign Up</h3>
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" value="Sign Up">
          </div>
        </form>
      </div>
        <h3 class="center-align">Destinations</h3>
        <div class="container row carousel">
        <% for (let destination of destinations) { %>
          <div class="col s3 carousel-item">
            <img src="<%=destination.image%>">
            <h4 class="center-align"><%= destination.name %></h4>
          </div>
          <% } %>
        </div>
        <div class ="row">
          <div class="col s3 offset-s1"><img src="/images/omar2.jpg" class="profileimage"><p>Junior Full Stack Developer. Likes to stay active on the weekends either with sports or projects and staying up to date with the newest technology.
            Languages: HTML, CSS, Javascript, Ruby, Ruby on Rails, React, Node.js,Express
            Skills:Photoshop, Microsoft Word/Powerpoint, Photography
            Tools: Sublime, Atom, Github, Adobe Photoshop, Postman, Heroku, MongoDB</p></div>
          <div class="col s3 offset-s1"><img src="https://media.licdn.com/dms/image/C5603AQFH2j__1g97qw/profile-displayphoto-shrink_800_800/0?e=1526688000&v=alpha&t=5tQc96-0LJZ7hMFzizaHtUszaA9cjVqpxnw1WZqFZCY" class="profilem"><p>Web Development student in the San Francisco Bay Area learning new technologies and build on different skills. Would love to collaborate on new projects.
            Skills: HTML, CSS, JavaScript, jQuery, AJAX/JSON,Ruby, Node.js, Angular, Ruby on Rails, React, API integration, OOP, mySQL, Bootstrap, MongoDB, Express.js
            Github: https://github.com/Manjilan
            Website: http://manjilanakarmi.com</p></div>
          <div class="col s3 offset-s1"><img src="https://media.licdn.com/dms/image/C5603AQFljn9hFHfBQQ/profile-displayphoto-shrink_800_800/0?e=1526688000&v=alpha&t=kw1VNqZqwmYO7zGk0a_nayrwYa2Koqu0P5dVZf0XnZw" class="profileg"><p>The tech industry has transformative powers and as a developer, my aim is to utilize these to solve business challenges and build beautiful and meaningful things.
            Skills: Javascript, AJAX, JQuery, Node.js/Express, Ruby, Ruby on Rails, PostgreSQL, MsSQL, MongoDB, React, HTML5, CSS3 </p></div>
          </div>

      </main>
      <section class="row info card-panel">
        <div class="col s1 offset-s2">
          <p>Facebook</p>
          <p>Instagram</p>
          <p>LinkedIn</p>
          <p>E-mail Us</p>
        </div>
        <div class="col s1 offset-s1">
          <p>Terms </p>
          <p>Privacy Policy</p>
          <p>Travel</p>
          <p>Business</p>
        </div>
        <div class="col s1 offset-s1">
          <p>Press</p>
          <p>Policies</p>
          <p>Social Responsiblity</p>
          <p>Help</p>
        </div>
        <div class="col s1 offset-s1">
          <p>Careers</p>
          <p>Volunteering</p>
          <p>Contact Us</p>
          <p>FAQs</p>
        </div>
      </section>
      <footer>
        <p class="center-align grey">© Aventyr</p>
      </footer>
    </body>
    </html>
