<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Aventyr</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="./scripts/app.js"></script>

</head>
<body>

<header>
  <div class="well">
    <div class="container">
      <div class="page-header">
        <h1 class="center-align">Aventyr</small></h1>
        <img src="/images/aventyr.png">
          <a href="/login">Log in</a>
          <a href="/signup">Sign up</a>
      </div>
    </div>
  </div>
  </header>

  <div class= "row">

  </div>
</body>
</html>
