#logo{
  width: 60px;
  height: auto;
}
header{
  background: url("/images/header.jpg");
  background-position: center;
  background-size: cover;
  padding: 170px;
  margin-bottom: 0;
}
h1{
  margin-right: 20px;
}
#main-page{
  height: 200px;
  width: auto;
}

nav{
  display: flex;
  justify-content: space-between;
}
nav a{
  margin: 0 15px;
}

select{
  margin-bottom: 20px;
}

 img{
  height: 20em;
  width: 100%;
}
/* nav */
.sticky-nav-wrapper {
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.scrolled {
  position: fixed;
  top: 0;
  z-index: 100;

}
/*signup form*/

#sign-up{
  display: none;
}

.show-signup{
    transition: width 2s linear 1s;
}
/* main */
main{
  margin: 10rem 0;
}

h3{
  margin-top: 5rem;
}
/* footer */
.info{
  margin-bottom: 0;
}
footer p{
  margin:0;
  padding: 16px;
}
/* card */
div.card-panel.card{
  margin-right: 90px;
}
.row .col s3{
  margin-left: 10em;
}

#target {
  margin-left: 7.5em;
}

/*Destinations*/
img{
  display: block;
  margin: 0 auto;
  padding: 5px;
}

button{
  margin-left: 45%;
}
.profileimage{
  height:250px;
  width:250px;
  margin-top: 2em;
}
.profilem{
  height:250px;
  width:250px;
  margin-top: 2em;
}
.profileg{
  height:250px;
  width:250px;
  margin-top: 2em;
}
