#logo{
  width: 60px;
  height: auto;
  margin-top: 25px;
}
header{
  background: url("/images/header.jpg");
  background-position: center;
  background-size: cover;
  padding: 150px;
}
h1{
  margin-right: 20px;
}
#main-page{
  height: 200px;
  width: auto;
}
nav{
  display: flex;
  justify-content: space-between;
}
nav a{
  margin: 0 15px;
}
select{
  margin-bottom: 20px;
}
img{
  height: 300px;
  width: 300px;
}
