#logo{
  width: 60px;
  height: auto;
}
header{
  background: url("/images/header.gif");
  background-position: center;
  background-size: cover;
  padding: 170px;
  margin-bottom: 0;
}
h1{
  margin-right: 20px;
}
#main-page{
  height: 200px;
  width: auto;
}

nav{
  display: flex;
  justify-content: space-between;
}
nav a{
  margin: 0 15px;
}

select{
  margin-bottom: 20px;
}

.cards-image {
  height: 20em;
  width: 100%;
}

.destination-image {
  height: 20em;
  width: 100%;
}

.user-image {
  height: auto;
  width: 100%;
}
<<<<<<< HEAD
=======

/* nav */
.sticky-nav-wrapper {
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
>>>>>>> 417eea7e77ed45035fc9304ccd2868f066e52fa4

.scrolled {
  position: fixed;
  top: 0;
  z-index: 100;

}
/*signup form*/

#sign-up{
  display: none;
}

.show-signup{
    transition: width 2s linear 1s;
}
/* main */
h3{
  margin-top: 5rem;
}
/* footer */
.info{
  margin-bottom: 0;
}
footer p{
  margin:0;
  padding: 16px;
}
/* card */
div.card-panel.card{
  margin-top: 2em;
  margin-right: 90px;
}
.row .col s3{
  margin-left: 10em;
}

#target {
  margin-left: 7.5em;
}

/*Destinations*/
img{
  display: block;
  margin: 0 auto;
  padding: 5px;
}

button{
  margin-left: 45%;
}
.profileimage{
  height:250px;
  width:250px;
  margin-top: 2em;
}
.about-image{
  width: 50%;
  height: auto;
}
section{
  padding: 5rem;
}
h4{
  padding-top: 5rem;
}
.carousel{
  height: 500px;
  margin-top: -100px;
}
.profile, .row .col.s3{
  margin: 20px 50px;
}
.github{
  margin: 0 30%;
}
.row.light-blue.lighten-3{
  padding-bottom: 3rem;
}
.about{
  font-size: 20px;
  font-family: 'Josefin sans';
}

.dest-show-image {
  height: 15em;
  width: 30%;
}
